body {
    background-color: yellow;
    margin: 0px;
}

::placeholder {
    color: blue;
    font-weight: bold;
    font-size: 1rem;
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    background-color: yellow;
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    border: 3px solid blue;
}

#translating-div {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    margin: auto;
    color: blue;
    font-weight: bold;
    font-size: 1.3rem;
    border: 3px solid blue;
}

.img-crop {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden; 
}

.img-crop img {
    width: 100%;
    max-height: initial;
    margin-top: -33.8%;
    margin-bottom: -17%; 
}

h1 {
    text-align: center;
    color: #ffff00;
    margin-inline-end: 0em;
    margin-inline-start: 0em;
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 3rem;
    text-shadow: 8px 9px 10px #000000;
    font-family: sans-serif;
}

#btn-translate {
    margin-left: 7rem;
    height: 8vh;
    margin-top: 1rem;
    font-size: larger;
    border-radius: 2rem;
    font-weight: bold;
    background-color: rgb(51 105 142);
    color: #ffff00;
    word-wrap: break-word;    
}

.description-text {
    margin-left: 7rem;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.3rem;
}

@media (max-width:454px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .img-crop img {
        width: 100%;
        max-height: initial;
        margin-top: -25.8%;
        margin-bottom: -14%; 
    }

    #btn-translate {
        margin-left: 20%;
        margin-right: 20%;
    }

    .description-text {
        font-size: 1rem;
        margin-left: 0.4rem;
    }
}